.diagonal-repeating-background {
  $primary-light: lighten($primary, 2%);

  background-image:
    repeating-linear-gradient(45deg, transparent, transparent 1em, $primary-dark 1em, $primary-dark 50%),
    repeating-linear-gradient(45deg, transparent, transparent 1em, $primary-light 1em, $primary-light 50%);
  background-size: 6em 6em, 4em 4em;
} 

#about {

  #circles {
    margin-top: 4em;
  }

  .circle {
    $radius: 90%;

    position: relative;
    width: $radius;
    padding-top: $radius;
    margin: 0 auto 2em auto;
    border: $border-size $secondary solid;
    border-radius: 50%;
    background-color: $primary-dark;
    box-sizing: content;

    &.fill { 
      position: absolute;
      top: 0;
      width: 100%;
      padding-top: 100%;
      background-color: $secondary;
      border: none;
      margin: 0;

      &.right {
        left: calc(100% + 2.5em);
      }

      &.left {
        right: calc(100% + 2.5em);
      }
    }

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, calc(-50% - 30px));
    }
  }

  p {
    font-size: 2em;
    line-height: 1.45;
    text-align: right;

    @media only screen and (max-width: $breakpoint-xs) {
      font-size: 1.3em;
    }
  }
}