#banner {
  position: absolute;
  top: 0;
  left: 10%;
  height: 200px;
  z-index: 2;
}

header {
  $border-size: $border-size * 1.25;
  $border-style: ($border-size * 2) $secondary solid;

  position: relative;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: $border-style;
  border-bottom: $border-style;
  box-sizing: content-box;
  background-color: $primary-dark;

  @-moz-document url-prefix() {
      box-sizing: border-box;
  }

  * {
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 1;
    border-top: $border-size rgba($secondary, .2) solid;
    background-color: rgba($secondary, .42);
    background-clip: content-box;
    height: $border-size;
    padding: $border-size 0;
  }

  &::after {
    $size: 200px;
    $primary-light-line: lighten(saturate($primary, 1%), 6%);
    $primary-dark-line: darken($primary-light-line, 2%);

    content: '';
    position: absolute;
    width: 500vw;
    height: 500vw;
    transform: translate(-46.25%) rotate(45deg);
    transform-origin: right center; 
    z-index: 0;
    background:
      repeating-linear-gradient(
        to left,
        $primary-light-line ($size *  0) ($size *  0.186),
        $primary-dark-line  ($size *  0.186) ($size *  0.564),
        $primary-light-line ($size *  0.564) ($size *  0.75),
        $primary            ($size * 0.75) ($size * 1),
      );
  }

  #logo {
    height: 225px;
    margin-left: auto;
  }

  #date {
    margin-bottom: 0;
  }

  #descriptor {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
  }

  #rambot {
    transform: scale(2.5);
  }

  @media only screen and (max-width: $breakpoint-xs) {
    padding-bottom: $border-size * 3;

    #logo {
      height: initial;
      width: 100%;
    }

    #descriptor {
      font-size: 1em;
    }
  }
}