@mixin vertical-dashes($color, $border-size) {
  $dashed-image: linear-gradient($color 0 60%, transparent 60% 100%);
  $dashed-size: $border-size 30px;

  background-image: $dashed-image;
  background-size: $dashed-size;
  background-position: left;
  background-repeat: repeat-y;

  &:last-child {
    background-image: $dashed-image, $dashed-image;
    background-position: left, right;
  }
}

.straight-line-background {
  $faded-accent: rgba($accent, 0.3);

  background: repeating-linear-gradient(transparent 0, transparent 60%, $faded-accent 60% 100%);
  background-size: 1px 8.5px;
}

#hackwcu-humans {
  $padding: 15px;
  $thin-border-size: 3px;
  $magic-spacing-unit: 100% * (195.2 / 960);

  & > .container {
    margin-bottom: 8em;
    margin-top: 1.5em;
  }

  #highlight {
    width: $magic-spacing-unit;
    position: absolute;
    top: 0;
    height: 100%;
    border: 2px $secondary solid;
    box-sizing: border-box;
    margin-left: -6.5px;
    z-index: 2;
    transition: left 0.25s ease-in-out;
  }

  .wrapper {
    z-index: 1;
    position: relative;

    input[type='radio'] {
      position: absolute;
      width: 20%;
      top: -$padding / 2;
      height: calc(100% + 4em);
      opacity: 0;
      cursor: pointer;
      z-index: 1;

      @for $i from 1 through 5 {
        $position: $magic-spacing-unit * ($i - 1);

        &:nth-child(#{$i}) {
          left: $position;
        }

        &:nth-child(#{$i}):checked {
          & ~ #highlight {
            left: $position;
          }

          & ~ #titles .col:nth-child(#{$i}) p {
            font-weight: bold;
            color: $secondary !important;
          }

          & ~ #descriptions .col-12:nth-child(#{$i}) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0.25s;
          }
        }
      }
    }
  }

  #people {
    z-index: 1;
    background-color: $primary;

    .top {
      border: $thin-border-size $accent solid;
      height: 5px + ($thin-border-size * 2);
      padding: 0;
    }

    .col {
      position: relative;
      padding: $padding;
      @include vertical-dashes($accent, $thin-border-size);
    }
  }

  #titles {
    z-index: 1;
    background-color: $primary;
    text-align: center;
    text-transform: uppercase;
    border: 2px $accent solid;
    border-left: 0;
    border-right: 0;
    margin: 0 #{calc(-100vw - 0.5em)};
    padding: 5px 100vw;

    .col {
      $dash-offset: 7px;

      @include vertical-dashes($secondary, $thin-border-size);
      background-position-y: $dash-offset;
      padding-bottom: 0;

      &:last-child {
        background-position-y: $dash-offset;
      }
    }

    p {
      margin: 0;
      transition: all 0.25s ease-in-out;
    }
  }

  #descriptions {
    position: absolute;
    width: 100%;
    margin: 2em  0 0;

    .col-12 {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 1em;
      border: $border-size $secondary solid;
      transition: transform 0.25s ease-in-out;
      transform: translateY(-135%);
    }
  }

  .magic-text {
    opacity: 0;
  }
}