#sponsors {
  $background-width: 75px;
  $logo-height: 5em;

  @media only screen and (min-width: $breakpoint-lg) {
    .container {
      max-width: 70em;
    }
  }

  @keyframes slide-lines {
    from { background-position-x: 0; }

    to { background-position-x: $background-width; }
  }

  @keyframes float-title {
    from {
      transform: translateY(0);
      text-shadow: 5px 5px rgba(black, 0.3);
    }

    to {
      transform: translateY(-15px) scale(1.05);
      text-shadow: 10px 15px rgba(black, 0.3);
    }
  }

  .title-wrapper {
    border: 0;
    animation: slide-lines 4s linear infinite;
    margin-bottom: 1em;
    background-size: $background-width;
    background-repeat: repeat-x;
    background-image: inline-svg('
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 138 217.2">
        <path fill="#5c1b4f" d="M113.5 109.2c-5.8-3.8-11.8-7.4-17.5-11.5a47 47 0 00-27-10c-9 .1-18 3.4-27.1 10-5.6 4.1-11.6 7.7-17.5 11.5a41 41 0 01-24.5 7.4v12.7a39 39 0 0022.4-6.3c7-4.3 14.1-8.7 20.8-13.5a45.3 45.3 0 0125.8-9.3c8.6.1 17.2 3.2 25.8 9.3 6.8 4.7 13.8 9.2 20.8 13.5a39.6 39.6 0 0022.4 6.3v-12.7c-8.1.4-16.2-2.1-24.4-7.4z"/>
        <path fill="#531151" d="M113.5 65.4c-5.8-3.8-11.8-7.4-17.5-11.5-9-6.6-18-9.9-27-10-9 .1-18 3.4-27.1 10-5.6 4.1-11.6 7.7-17.5 11.5A41.2 41.2 0 010 72.8v12.7a39 39 0 0022.4-6.3c7-4.3 14.1-8.7 20.8-13.5A45.3 45.3 0 0169 56.4c8.6.1 17.2 3.2 25.8 9.3 6.8 4.7 13.8 9.2 20.8 13.5a39.6 39.6 0 0022.4 6.3V72.8c-8.2.3-16.3-2.1-24.5-7.4z"/>
        <path fill="#500e51" d="M113.5 21.5c-5.8-3.8-11.8-7.4-17.5-11.5C87 3.4 78 .1 69 0c-9 .1-18 3.4-27.1 10-5.6 4.1-11.6 7.7-17.5 11.5A40.5 40.5 0 010 28.9v12.7a39 39 0 0022.4-6.3c7-4.3 14.1-8.7 20.8-13.5A45.3 45.3 0 0169 12.5c8.6.1 17.2 3.2 25.8 9.3 6.8 4.7 13.8 9.2 20.8 13.5a39.6 39.6 0 0022.4 6.3V28.9a41 41 0 01-24.5-7.4z"/>
      </svg>
    ');

    h2 {
      animation: float-title 2s ease-in-out alternate infinite;
    }

    &::after {
      content: '';
      animation: slide-lines 4s linear infinite;
      background-size: $background-width auto;
      background-repeat: repeat no-repeat;
      height: 60px;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-image: inline-svg('
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 138 85.6">
          <path fill="#4b0951" d="M138 86.3V33.2L69 6.3 0 34.2v52.1"/>
          <path fill="#fbc32c" d="M113.5 65.4c-5.8-3.8-11.8-7.4-17.5-11.5-9-6.6-18-9.9-27-10-9 .1-18 3.4-27.1 10-5.6 4.1-11.6 7.7-17.5 11.5A41.2 41.2 0 010 72.8v12.7a39 39 0 0022.4-6.3c7-4.3 14.1-8.7 20.8-13.5A45.3 45.3 0 0169 56.4c8.6.1 17.2 3.2 25.8 9.3 6.8 4.7 13.8 9.2 20.8 13.5a39.6 39.6 0 0022.4 6.3V72.8c-8.2.3-16.3-2.1-24.5-7.4z"/>
          <path fill="#864846" d="M113.5 21.5c-5.8-3.8-11.8-7.4-17.5-11.5C87 3.4 78 .1 69 0c-9 .1-18 3.4-27.1 10-5.6 4.1-11.6 7.7-17.5 11.5A40.5 40.5 0 010 28.9v12.7a39 39 0 0022.4-6.3c7-4.3 14.1-8.7 20.8-13.5A45.3 45.3 0 0169 12.5c8.6.1 17.2 3.2 25.8 9.3 6.8 4.7 13.8 9.2 20.8 13.5a39.6 39.6 0 0022.4 6.3V28.9a41 41 0 01-24.5-7.4z"/>
        </svg>
      ');
    }
  }

  .sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.75em;

    a {
      max-width: 90%;
    }

    img {
      max-width: 100%;
      height: $logo-height;
      filter: drop-shadow(5px 5px rgba(black, 0.3));
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px) scale(1.05);
        filter: drop-shadow(8px 10px rgba(black, 0.3));
      }
    }

    &.sga img {
      $scalar: 1em;
      height: $logo-height + (2 * $scalar);
      margin-top: -$scalar;
      margin-bottom: -$scalar;
    }
  }
}