.waves-backgroud {
  $background-image: inline-svg('
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.6 17.1">
        <path opacity=".3" fill="#{$accent}" d="M0 15v2c8.4-.1 13.3-4 18-7.7S27 2.2 34.4 2a21.2 21.2 0 019 2.2 43.1 43.1 0 017.5 5l2.7 2.2a26 26 0 0013.5 5.5l4 .1h.6v-2a43.1 43.1 0 01-4.3-.2 24 24 0 01-12.6-5l-2.6-2.1a45.5 45.5 0 00-7.9-5.3A23.3 23.3 0 0034.4 0c-8.2.2-13 4-17.6 7.7S7.8 14.8 0 15z" />
      </svg>
    ');

  background: $background-image 0 100% repeat, $background-image 0 8px repeat;
  background-size: 100px;
}
#tracks {
  margin-bottom: 4em;

  .box {
    position: relative;
    max-height: 450px;
    border-radius: 50px;
    margin-bottom: 20px;

    p {
      text-align: center;
      margin: 0;
      padding: 0 ($border-size * 2);
      line-height: 1.3em;

      @media only screen and (max-width: $breakpoint-xs) {
        font-size: 1em;
      }
    }

    &::after {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      height: calc(100% - #{$border-size * 2});
      width: calc(100% - #{$border-size * 2});
      box-sizing: border-box;
      border: $border-size #ffc72c solid;
      overflow: hidden;
      padding: ($border-size * 2) 0;
      border-radius: 50px;
      max-width: 400px;
      max-height: 400px;

      .title {
        flex: 0 0;
        text-transform: uppercase;
        margin: 0;
      }

      .frame {
        $icon-size: 4.5em;

        display: block;
        flex: 0 0;
        position: relative;
        text-align: center;
        z-index: 1;
        margin: 2em 0;

        img {
          display: inline-block;
          max-height: $icon-size;
          padding: 10px 0;
        }

        &::after {
          $circle-border-size: 4px;
          $circle-scalar: 3;

          content: '';
          z-index: -1;
          width: $icon-size + $circle-scalar;
          height: $icon-size + $circle-scalar;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          background-color: $primary-dark;
          border: $circle-border-size $secondary solid;
          box-shadow: 0 0 0 $circle-border-size $primary, 0 0 0 ($circle-border-size * 2) $secondary;
          transform: translate(-50%, -50%);
        }

        @media only screen and (max-width: $breakpoint-xs) {
          margin: 1.75em 0;

          img {
            max-height: 3em !important;
          }

          &::after {
            width: 5.5em;
            height: 5.5em;
          }
        }
      }

      .description {
        flex: 1 1;
        display: flex;
        align-items: center;
      }
    }

    &.fill { 
      position: absolute;
      top: 0;
      width: 100%;
      background-color: $secondary;
      border: none;
      margin: 0;

      &.right {
        left: 125%;
      }

      &.left {
        right: 125%;
      }
    }
  }

  .container > p {
    font-size: 2em;
    line-height: 1.45;
    text-align: right;

    @media only screen and (max-width: $breakpoint-xs) {
      font-size: 1.3em;
    }
  }
}