@import '~gridlex/src/gridlex-vars';

// COLOR
$primary: #4c0a52;
$primary-dark: darken(desaturate($primary, 2%), 2%);
$secondary: #ffc72c;
$accent: #b81ac2;

// BASE
// fonts
$header-font-family: 'Montserrat', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1;

// SIZE
$width: 96%;
$gutter: 4%;
$breakpoint-xs: map-get($gl-mq-list, 'xs');
$breakpoint-sm: map-get($gl-mq-list, 'sm');
$breakpoint-md: map-get($gl-mq-list, 'md');
$breakpoint-lg: map-get($gl-mq-list, 'lg');
$border-size: 8px;