@import '~gridlex';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'components/variables';
@import 'components/utils';
@import 'components/title';
@import 'components/button';
@import 'components/typography';
@import 'components/container';
@import 'components/rambot-animation';
@import 'components/fire';

@import 'header';
@import 'about';
@import 'schedule';
@import 'faq';
@import 'sponsors';
@import 'humans';
@import 'tracks';
@import 'footer';

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: $primary;
  overflow-x: hidden;
}

* {
  font-family: $font-family;
  line-height: $font-height;
  color: white;
}
