doctype html
html(lang="en")
  head
    include includes/tracking.pug
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include includes/meta.pug
  body
    img#banner.md-hidden(src='./images/mlh-trust-badge.svg')
    include includes/header.pug
    include includes/about.pug
    include includes/schedule.pug
    include includes/FAQ.pug
    include includes/humans.pug
    include includes/tracks.pug
    include includes/footer.pug