doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include includes/meta
  body
    include includes/mixins
    include includes/register
    a.hide-sm#mlh-trust-badge(href='https://mlh.io/seasons/na-2019/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2019-season&utm_content=red' target='_blank')
      img(alt='Major League Hacking 2019 Hackathon Season', src='images/mlh-trust-badge-2019-orange.svg')

    include includes/header
    include includes/about
    include includes/schedule
    include includes/faq
    include includes/sponsors
    include includes/footer
