section.about
  +title('About', 1)
  .content: .row
    .col-xs-12.col-md-6
      p HackWCU is a 24 hour student hackathon hosted by the West Chester Computer Science Club. Join us and over 200 students and tech professionals for weekend full of fun, innovation, and creative problem solving. You’ll enjoy tech talks, free food, and fun activities while you build innovative and exciting projects with your fellow students. 
    .hide-sm.col-md-6.drones
      img(src='images/drones.png')