header: .container
  .grid-middle
    .col-8_sm-12.grid(data-push-right='off-1')
      img#logo(src='./images/logo.svg')
      a(href='http://www.google.com/calendar/event?action=TEMPLATE&dates=20200321T060000Z%2F20200322T090000Z&text=HackWCU%202.0&location=50%20Sharpless%20St%2C%20West%20Chester%2C%20PA%2019383&details=Building%3A%2050%20Sharpless%20St%2C%20West%20Chester%2C%20PA%2019383%0AWebsite%3A%20hackwcu.org', target='_blank')
        h3#date.col-12.text-center-sm March 21 - 22
      p#descriptor.col-12.text-center-sm Business &amp; Public Management Building
      .grid.col-10_sm-12
        .col-6_xs-12: a.btn(href='https://dashboard.hackwcu.org/signup') Register Now
        .col-6_xs-12: a.btn.outline.light(href='/files/sponsorship_information_2020.pdf' target='_blank') Sponsor Us
    .col-3.sm-hidden: div.rambot.scale: div.rambot.translate: div.rambot.rotate
      img#rambot(src='./images/rambot.svg')
      .fire: .flames
        .flame
        .flame
        .flame
        .flame