header: .container
  .grid-middle
    .col-8_sm-12.grid(data-push-right='off-1')
      img#logo(src='./images/logo.svg')
      h3#date.col-12.text-center-sm POSTPONED
      p#descriptor.col-12.text-center-sm Keep checking for future updates!
      .grid.col-10_sm-12
        //.col-6_xs-12: a.btn(href='https://dashboard.hackwcu.org/signup') Read More
        a.btn.outline(href='https://dashboard.hackwcu.org/signup', target='_blank') Register for Updates
        //.col-6_xs-12: a.btn.outline.light(href='/files/hackwcu_sponsor_packages_2020.pdf', target='_blank') Sponsor Us
    .col-3.sm-hidden: div.rambot.scale: div.rambot.translate: div.rambot.rotate
      img#rambot(src='./images/rambot.svg')
      .fire: .flames
        .flame
        .flame
        .flame
        .flame