section.header-section: .content
  .row
    header.col-xs-12.col-md-4.title-side
      img(src='images/logo-white.svg').logo
      h1 HACK WCU
      h3 March 30-31, 2019
      p: a(href='https://goo.gl/maps/MSymYv4ktSA2' target='_blank') Business & Public Management Building
      a.button.gold(href='https://my.mlh.io/oauth/authorize?client_id=9c4a27c1881f7bc7ffa8fb9033aaa9a70dad84c404ff5ac22721cd481d5f587d&amp;redirect_uri=https%3A%2F%2Fhackwcu.org&amp;response_type=token&amp;scopes=email+phone_number+demographics+birthday+education+event')
        | Register Now
        div.powered.hide-sm Powered by 
          strong MyMLH
      a.button.outline.nopad(href='files/sponsorship_information_2019.pdf', target='_blank') Sponsor Us
    .col-md-8.overview-side.hide-sm
      .wcu-container: img(src='images/wcu.jpg').wcu
  .bar-horizontal
