header: .container
  img#banner.sm-hidden(src='./images/mlh-trust-badge.svg')
  .grid-middle
    .col-8_sm-12.grid(data-push-right='off-1')
      img#logo(src='./images/logo.svg')
      h3#date.col-12.text-center-sm March 21 - 22
      p#descriptor.col-12.text-center-sm Business &amp; Public Management Building
      .grid.col-10_sm-12
        .col-6_xs-12: a.btn Register Now
        .col-6_xs-12: a.btn.outline.light Sponsor Us
    .col-3.sm-hidden
      img#rambot(src='./images/rambot.svg')
