- 
  var humans = {
    'Hackers': { 
      path: './images/hackers.svg',
      description: 'Fluent in logical thinking and problem solving skills. Hackers are persistent, patient, and have a passion for finding the root cause of issues. They are masters at crafting new tools and systems via a step-by-step logical process.'
    },
    'Creators':  { 
      path: './images/creators.svg',
      description: 'Apply their mastery of aesthetics and design to push the limits of convention and creativity. Translating ideas and visions into tangible deliverables, they recharge through introspection and imagination to assess principles in transforming ideas into practical solutions.'
    },
    'Leaders': { 
      checked: true,
      path: './images/leaders.svg',
      description: 'Bold and strong-willed, leaders have a clear direction and vision of what needs to be created and why it matters. Keeping the big picture in mind, they keep their team on track to reach high level goals while maintaining a welcoming and collaborative work environment.'
    },
    'Builders': { 
      path: './images/builders.svg',
      description: 'Concretely thinking in multi-faceted ways, builders are methodical, hardworking, and dependable. They enjoy hands-on work and cautiously apply systematic methods and practices to move tangible solutions forward accordingly.'
    },
    'Innovators': { 
      path: './images/innovators.svg',
      description: 'Curious and experimental thinkers are constantly deconstructing and rebuilding systems. Applying their strategic thinking to execute novel, refined solutions — innovators are always looking forward and finding opportunity.'
    }
  };
- 
  var longestDescription = Object.values(humans)
    .map(x => x.description)
    .reduce((a, b) => a.length > b.length ? a : b);

section#hackwcu-humans.sm-hidden
  +title('HackWCU Humans').straight-line-background
  .container
    .wrapper
      each info, title in humans
        input(type='radio' name='human' value=title.toLowerCase() checked=info.checked)

      #highlight

      .grid#people
        .col-12.top
        each info, _ in humans
          .col: img(src=info.path)
      .grid#titles
        each _, title in humans
          .col: p= title
      .grid#descriptions
        each data, _ in humans
          .col-12: p= data.description

    p.magic-text= longestDescription


