include titlebar

- 
  var humans = {
    'Hackers': { 
      path: './images/hackers.svg',
      description: 'A Participants have access to interactive workshops on areas including data science, robotics, virtual reality, artificial intelligence, product management, Python (and more) taught by industry professionals and professors.'
    },
    'Creators':  { 
      path: './images/creators.svg',
      description: 'B Participants have access to interactive workshops on areas including data science, robotics, virtual reality, artificial intelligence, product management, Python (and more) taught by industry professionals and professors.'
    },
    'Leaders': { 
      checked: true,
      path: './images/leaders.svg',
      description: 'C Participants have access to interactive workshops on areas including data science, robotics, virtual reality, artificial intelligence, product management, Python (and more) taught by industry professionals and professors.'
    },
    'Builders': { 
      path: './images/builders.svg',
      description: 'D Participants have access to interactive workshops on areas including data science, robotics, virtual reality, artificial intelligence, product management, Python (and more) taught by industry professionals and professors.'
    },
    'Innovators': { 
      path: './images/innovators.svg',
      description: 'E Participants have access to interactive workshops on areas including data science, robotics, virtual reality, artificial intelligence, product management, Python (and more) taught by industry professionals and professors.'
    }
  };
- 
  var longestDescription = Object.values(humans)
    .map(x => x.description)
    .reduce((a, b) => a.length > b.length ? a : b);

#humans.sm-hidden
  +titlebar('HackWCU Humans').straight-line-background
  .container
    .wrapper
      each info, title in humans
        input(type='radio' name='human' value=title.toLowerCase() checked=info.checked)

      #highlight

      .grid#people
        .col-12.top
        each info, _ in humans
          .col: img(src=info.path)
      .grid#titles
        each _, title in humans
          .col: p= title
      .grid#descriptions
        each data, _ in humans
          .col-12: p= data.description

    p.magic-text= longestDescription


