link(rel='apple-touch-icon', sizes='180x180', href='favicons/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='favicons/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='favicons/favicon-16x16.png')
link(rel='manifest', href='favicons/site.webmanifest')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='theme-color', content='#ffffff')
title Hack WCU - March 30th
link(href='./', rel='canonical')
meta(content='Hack WCU', property='og:title')
meta(content='Hack WCU - March 30th', property='og:site_name')
meta(content='en_US', property='og:locale')
meta(content='website', property='og:type')
meta(content='https://hackwcu.org', property='og:url')
meta(content='http://hackwcu.org/favicons/banner.jpg', property='og:image')
meta(content='1200', property='og:image:width')
meta(content='800', property='og:image:height')
meta(content='http://hackwcu.org/favicons/banner_square.jpg', property='og:image')
meta(content='http://hackwcu.org/favicons/banner_square.jpg', property='twitter:image')
meta(content='300', property='og:image:width')
meta(content='300', property='og:image:height')
meta(content='HackWCU is a 24 hour student hackathon hosted by the West Chester Computer Science Club. Join us and over 200 students and tech professionals for weekend full of fun, innovation, and creative problem solving.', property='og:description')
