title HackWCU 2.0 | March 21

meta(name='description' content='24-hour student hackathon hosted by West Chester University. Join over 250 students and tech professionals for a weekend full of fun, innovation, and creativity.')
meta(name='robots' content='follow, index')

meta(property='og:title' content='HackWCU 2.0 | March 21')
meta(property='og:type' content='website')
meta(property='og:image' content='http://hackwcu.org/preview/backdrop-1200x624.jpg')
meta(property='og:description' content='24-hour student hackathon hosted by West Chester University. Join over 250 students and tech professionals for a weekend full of fun, innovation, and creativity.')
meta(property='og:url' content='https://hackwcu.org')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:url' content='https://hackwcu.org')
meta(name='twitter:title' content='HackWCU 2.0 - March 21')
meta(name='twitter:description' content='24-hour student hackathon hosted by West Chester University. Join over 250 students and hackers for a weekend full of fun, innovation, and creativity.')
meta(name='twitter:image' content='http://hackwcu.org/preview/backdrop-1200x624.jpg')

link(rel='apple-touch-icon' sizes='180x180' href='/preview/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='/preview/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='/preview/favicon-16x16.png')
link(rel='manifest' href='/preview/site.webmanifest')
link(rel='mask-icon' href='/preview/safari-pinned-tab.svg' color='#963d97')
meta(name='msapplication-TileColor' content='#603cba')
meta(name='theme-color' content='#ffffff')
meta(name='msapplication-config' content='/preview/browserconfig.xml')
meta(name='apple-mobile-web-app-title' content='HackWCU')

