.social 
	+fas('envelope-square', 'mailto:info@hackwcu.org', '_self')
	+fab('twitter-square', 'https://twitter.com/hackwcu')
	+fab('instagram', 'https://www.instagram.com/hackwcu')
	+fab('github-square', 'https://github.com/hackwcu')