section.sponsors
  +title('Sponsors', 4)
  .content
    .row.title-sponsor: .col-xs-12.col-sm-offset-4.col-sm-4: img(src='images/evolveip.svg')
    .row
      .col-xs-12.col-sm-4: img(src='images/github.svg')
      .col-xs-12.col-sm-4: img(src='images/expac.svg')
      .col-xs-12.col-sm-4: img(src='images/sei.svg')
    .row
      .col-xs-12.col-sm-4: img(src='images/mlh.svg')
      .col-xs-12.col-sm-4: img(src='images/wcu.png')
      .col-xs-12.col-sm-4: img(src='images/cottrell.svg')
    .row
      .col-xs-12.col-sm-offset-4.col-sm-4: img(src='images/gopuff.svg')
    p.moreinfo
     | Interested in sponsoring? 
     a(href='files/sponsorship_information_2019.pdf' target='_blank') See our sponsor sheet!