mixin title(text, align='left', background=true)
  .title-wrapper
    - var id = text.toLowerCase().replace(/\s+/g, '-');
    a(href=`#${id}`): h2(style={'text-align': align}) #{text}
    if background
      .background(class!=attributes.class)