mixin titlebar(text, align='left')
  .title-wrapper
    - var id = text.toLowerCase().replace(/\s+/g, '-');
    a(href=`#${id}`): h2(style={'text-align': align}) #{text}
    .background(class!=attributes.class)